html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.calendar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),
    url(../../assets/jade-green-cal.jpg) no-repeat center center fixed;
    height: 32dvh;
}

.calendar-container {
    background-color: #e8e5dc;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100dvh - 32dvh - 81px);
}

.calendar {
    background-color: #e8e5dc;
    width: 70vw;
    height: 60vh;
    border-radius: 20px;
    border: solid 10px #2F5249;
    margin: 12vh 0 200px;

    @media (orientation: portrait) {
        margin-top: 6vh;
    }
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.25rem;
    font-family: "TS Block Bold", serif;
    color: white;
    padding-bottom: 40px;
    margin: 0 164px;
}

/* Small screens */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        padding: 0 10px;
        margin: 0 40px;
    }

    .calendar {
        width: 84vw;
        height: 64vh;
        margin: 64px auto 200px;
    }
    .calendar-container {
        max-height: calc(100dvh - 32dvh - 60px);
    }
}