body {
    overflow: hidden;
}

.calendar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),
    url(../../assets/jade-green-cal.jpg) no-repeat center center fixed;
    height: 40dvh;
    margin-top: -60px;
}

.calendar-container {
    background-color: #e8e5dc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    background-color: #e8e5dc;
    width: 70vw;
    height: 65vh;
    margin-top: -13dvh;
    border-radius: 20px;
    border: solid 10px #2F5249;
    margin-bottom: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-family: "TS Block Bold", serif;
    color: white;
}

/* Small screens */
@media (max-width: 768px) {
    h1 {
        font-size: 1.25rem;
        padding: 0 10px;
        margin-top: 60px;
    }

    .calendar {
        width: 90vw;
        height: 55vh;
        margin-top: -10dvh;
    }
}