/* What is UJ? */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.what-is-UJ-section {
    background-color: #255F38;
    display: flex;
    height: calc(100vh - 81px);
    width: 100%;
}

.UJ-squiggly-divider svg {
    height: 100%;
    width: 10vw;
    display: block;
    position: absolute;
    left: calc(45% - 5px);
    transform: rotateY(180deg);
}

.UJ-content-left {
    color: white;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 55%;
    background: url("../../assets/jade-green-watercolor.jpg") no-repeat center center;
    background-size: cover;
    max-height: calc(100vh - 81px);
}

.UJ-info {
    text-align: center;
    margin: 0 10% -5vh 0;
    width: 75%;

    h1 {
        font-family: "TS Block Bold", serif;
        font-size: 2.5rem;
        text-shadow: 0 0 3px white;
    }

    p {
        font-family: "Rubik", serif;
        font-size: 1.25rem;
        line-height: 2rem;
        text-shadow: 0 0 2px white;
    }
}

.UJ-content-right {
    width: 45%;
    padding: 2rem;
    max-height: calc(100vh - 81px);
    background-color: #e8e5dc;

    h1 {
        display: none;
    }

    .founders :nth-child(2) img {
        bottom: 5%;
        right: 5%;
    }

    .founder {
        display: inline-block;
        padding: 10px;
        text-align: center;
        font-family: sans-serif;

        img {
            display: block;
            width: 250px;
            height: auto;
            margin-bottom: 8px;
            position: absolute;
            object-fit: cover;
        }

        .founder-a {
            rotate: -5deg;
        }

        .founder-b {
            rotate: 7deg;
        }
    }
}

hr {
    opacity: 0;
}

/* Small screens */
@media (max-width: 768px) {
    html, body {
        overflow-y: visible;
    }

    .what-is-UJ-section {
        flex-direction: column;
        height: auto;
        box-sizing: border-box;
    }

    .UJ-content-left {
        width: 100%;
        height: 80dvh;
        padding: 1.5rem;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .UJ-info {
        width: 100%;
        margin: 0;
        text-align: center;
        max-width: none;
        padding: 0 5px;

        h1 {
            text-shadow: 0 0 2px white;
        }

        p {
            font-size: 1rem;
            text-shadow: 0 0 1px white;
        }
    }

    .UJ-content-right {
        width: 100%;
        height: 100dvh;
        margin-top: 0;

        .founder {
            img {
                position: static;
                left: 0;
                width: 150px;
            }
        }

        .founders {
            display: flex;
            flex-direction: column;
        }

        h1 {
            font-family: "Alegreya Sans SC", serif;
            font-size: 32px;
            display: flex;
            justify-content: center;
        }
    }

    .UJ-squiggly-divider {
        display: none;
    }

    hr {
        opacity: 1;
        overflow: visible;
        padding: 0;
        border: none;
        border-top: medium double #333;
        color: #333;
        text-align: center;
    }
    hr:after {
        content: "𖡼";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: #e8e5dc;
    }
}